{{> nav-block}}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to The Hill Scraper</h1>
        <p class="lead">This app finds recent articles from <a href="https://thehill.com/" target="_blank">The Hill</a> and allows users to save their favorite articles to a list, and begin discussions on articles with other users on the forum page.</p>
        {{#if user}}
        {{else}}
          <hr class="my-4">
          <p>Login or Register to get started!</p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{#each article}}
      {{> articles-block user=../user}}
      {{/each}}
    </div>
  </div>
</div>
{{> login-modal-block}}